<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocialSmileyStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A299DB98AE4A4070B603427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1434CE87D1AD1722A6DDE79A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>332D922285D500CAB07F209F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ACA06292324F25F95C98ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>478867A0FD958DCBBBEE75A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCA78526B72CE0065ABAF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C14CBCC329F458A0BACB169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCF0B4FAD39DD2DC5A272E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF61EA9454DAA2361EEB8EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C02C183DCC95538800A33E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C65AA7E6C0A0C8E657E266CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D73501E70F174C1C2847D975</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF6F5C6687054B12BFA0103F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E22C7F72321B3BE3ECD0350B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F760DB43C5879063ADA750D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC96CA33A76BA21B6D6055DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
